:root {
  --gray: #bdc3c7;
  --gray2: #d1d6da;
  --fs: 16px;
  --green1: #1abc9c;
}

body.dark {
  background-color: #1a202c;
  /* Gray-800 */
  color: white;
}

::selection {
  background-color: var(--green1);
  color: white;
}

body.dark header {
  background-color: #1a202c;
  color: white;
}

body.dark ::selection {
  background-color: white;
  color: #1a202c;
}

body.dark nav {
  background-color: #1a202c;
  color: white;
}

body.dark h3,
body.dark h4,
body.dark h6 {
  background-color: #1a202c;
  color: white;
}

body.dark h5 {
  color: rgb(170, 169, 169);
}

body.dark h2 {
  color: rgb(170, 169, 169);
}

body.dark #best {
  color: rgb(170, 169, 169);
}


body.dark #contact h2 {
  color: rgb(170, 169, 169);
}

body.dark #about,
body.dark #services,
body.dark .service-item,
body.dark .product_grid,
body.dark .cards,
body.dark #contact,
body.dark .footer,
body.dark .bar {
  background-color: #1a202c;
  color: white;
}


body.dark .idk ul li a {
  color: rgb(170, 169, 169);
}

body.dark .idk ul li a:hover {
  color: rgb(129, 127, 127);
}

body.dark span {
  color: rgb(170, 169, 169);
}

body.dark label {
  color: rgb(170, 169, 169);
}


body.dark #modal-content {
  background-color: #1a202c;
  color: white;
}

body.dark input,
body.dark textarea {
  background-color: #1a202c;
  color: white;
}

body.dark #send {
  background-color: white;
  color: #1a202c;
  border: 1px solid white;
}


body.dark .offcanvas {
  background-color: #1a202c;
  color: white;
}

body.dark #offcanvas_content ul li a svg {
  fill: none;
  stroke: white;
}

body.dark #offcanvas_content ul li a:hover svg {
  fill: none;
  stroke: #1a202c;
}


body.dark .bar,
body.dark .footer {
  border-top: 0.2px solid rgb(65, 64, 64);
  border-radius: 12px;
  box-shadow: -3px -6px 6px -8px rgb(65, 64, 64);
  -webkit-box-shadow: -3px -6px 6px -8px rgb(65, 64, 64);
  -moz-box-shadow: -3px -6px 6px -8px rgb(65, 64, 64);
}



body.dark .cards {
  border: none;
}

body.dark #github {
  stroke: white;
}

.footer-content {
  display: grid;
  justify-content: center;
  align-items: center;
}





.loader_div {
  position: fixed;
  /* Use fixed positioning */
  top: 0;
  /* Align to top */
  left: 0;
  /* Align to left */
  right: 0;
  /* Stretch to right */
  bottom: 0;
  /* Stretch to bottom */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.377);
  /* Optional: semi-transparent background */
  z-index: 9999;
  /* Make sure it's on top of other content */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear;
}

.loader::after {
  border-color: #FF3D00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);

  }
}

.product_grid p {
  font-size: var(--fs);
}


/* Global Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
}




.idk ul li {
  color: black;
}

/* Header */
header {
  background-color: white;
  color: black;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 3fr 15fr;
  align-items: center;
  border-bottom: 2px solid black;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.overflow {
  overflow-y: hidden;
}

.logo {
  height: 100px;
  width: 60%;
  padding: 12px 12px;
}

.logonav {
  height: 100%;
  width: 60%;
  padding: 12px 12px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  float: right;
}



header nav ul li {
  display: inline;
  margin: 0 20px;
}

header nav ul li a {
  color: rgba(151, 151, 151, 0.568);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.35rem;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: rgb(104, 102, 102);
}

/* Hero Section */
.hero {
  background-image: url('DALL·E\ 2024-10-22\ 11.50.53\ -\ A\ warm\ and\ friendly\ background\ image\ for\ an\ \'Animal\ Care\'\ website.\ The\ scene\ features\ a\ peaceful\ outdoor\ environment\ with\ soft\ green\ grass\,\ trees\ in\ t.webp');
  background-size: cover;
  background-position: center;
  color: white;
  height: 420px;
  display: flexbox;
  align-content: center;
  text-align: center;
  position: relative;
  border-bottom: black 2px solid;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero h2 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero p {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
}

.hero {
  text-align: center;
  /* Center align the text */
  padding: 20px;
  /* Optional: add padding for spacing */
}

.hero h2 {
  margin-bottom: 20px;
  /* Space below the header */
}

.hero p {
  margin-bottom: 40px;
  /* Space below the paragraph */
}

.icons {
  display: flex;
  /* Use flexbox for a single row */
  justify-content: space-between;
  /* Adjusts spacing between icons */
  gap: 10px;
  /* Optional: adds space between icons */
  margin-top: 20px;
  /* Space above the icons */
}

.header_svg {
  width: 50px;
  /* Adjust size as needed */
  height: auto;
  /* Maintain aspect ratio */
}

/* Services Section */
#services {
  background-color: #ecf0f1;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  /* Horizontally center content */
  align-items: center;
  /* Vertically center content */
  flex-direction: column;
  /* Ensures content stacks vertically (if needed) */
  max-width: 1200px;
  /* Optional: Set a max-width for better control */
  margin: 0 auto;
  /* Center the container horizontally */
}


#services h2 {
  text-align: center;
  color: #2C3E50;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 45px;
  margin: 0 auto;
  max-width: 100%;
  place-items: center;
}

.service-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.service-item h3 {
  color: #18BC9C;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.service-item p {
  color: #7f8c8d;
}

.product_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.cards {
  /* Adjust as necessary */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.product_grid>div {
  flex: 1 calc(33.333% - 20px);
  /* Each item takes up roughly one-third of the row, accounting for the gap */
  box-sizing: border-box;
  /* Includes padding/border in width calculation */

  /* Adjust as needed */

}

body.dark .bar-div button:hover svg {
  color: black;
}

body.dark .bar-div button:hover .span1 {
  color: black;
}

body.dark .footer-content nav a:hover,
body.dark .footer_icons a:hover {
  color: white;
}

.product_img {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #1abc9c;
  width: 0%;
  z-index: 9999;
}

.productbtn {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #18BC9C;
  transition: all .5s ease-in-out;
}

.productbtn2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(59, 59, 235);
  transition: all .5s ease-in-out;
}


.productbtn:hover {
  background-color: #333;
}

.btns {
  display: grid;
  padding: 8px;
  margin: 12px 12px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  vertical-align: center;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.header_svg {
  width: 50px;
  aspect-ratio: 1;
}

.icons {
  display: flex;
  /* Use flexbox for a single row */
  justify-content: center;
  /* Adjusts spacing between icons */
  gap: 120px;
  /* Optional: adds space between icons */
  margin-top: 20px;
  /* Add space above the icons */
}





/* About Section */
#about {
  padding: 30px 20px;
  background-color: #ffffff;
  margin: 0 auto;

}

.panel1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 650px;
}

.panel2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 550px;
}

.textbox {
  max-width: 800px;
  margin-left: 20px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.textboxgrid {
  grid-row: 2/5;
}

.imgbox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 800px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.imgbox img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-column: 2/5;
  grid-row: 2/5;
}


#about h3 {
  color: #2C3E50;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 800px;
}

#about h4 {
  color: #2C3E50;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 800px;
}

#about p {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.8;
}

/* Contact Section */
#contact {
  padding: 50px 20px;
  background-color: #ecf0f1;
  text-align: center;
}

#contact h2 {
  color: #2C3E50;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  width: 100%;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #18BC9C;
}

form button {
  padding: 15px;
  font-size: 1.2rem;
  background-color: #18BC9C;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #1abc9c;
}

/* Footer */
footer {
  display: flex;
  /* Use flexbox for the footer */
  flex-direction: column;
  /* Stack items vertically */
  align-items: center;
  /* Center horizontally */
  justify-content: center;
  /* Center vertically */
  text-align: center;
  /* Center text */
}

footer p {
  margin: 0;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero {
  animation: fadeIn 2s ease-in;
}

.service-item {
  animation: fadeIn 1.5s ease-in;
}

.logo {
  width: 30%;
  display: grid;
  margin-right: auto;
  /* Space below the logo */
}

.footer_logo {
  width: 25%;
  /* Set logo width */
  display: block;
  /* Use block for the image */
}

.carousel {
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.logo {
  min-width: 170px;
  /* Adjust as needed */
  margin: 20px;
  /* Spacing between logos */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
    /* Move all logos out of view */
  }
}

/* For smooth transition */
.offcanvas {
  transition: transform 0.3s ease;
  transform: translateX(100%);
  /* Start off the screen to the right */
}

.offcanvas.show {
  transform: translateX(0);
  /* Move into view */
}

#offcanvas.hidden {
  display: none;
  /* Keep hidden when not in use */
}

#modal {
  z-index: 9999;
}

#modal-content {
  display: grid;
  text-align: center;
  justify-content: center;
}

#content1 {
  margin: 4px 14px;
  margin-left: auto;
  margin-right: auto;
}


.mode-toggle {
  position: absolute;
  bottom: -380px;
  padding: 12px 12px;
  left: 0;
}





.selected-lang {
  display: flex;
  align-items: center;
  line-height: 2;
  /* Aligns items vertically centered */
}


.selected-lang::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -40px;
  /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  /* Ensure the image covers the area */
}

.lang-menu {
  position: absolute;
  right: 0;
  bottom: 70px;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-selected {
  background-color: white;
  /* Background color */
  border: 1px solid #ccc;
  /* Border */
  padding: 5px;
  margin: 6px 6px;
  /* Padding */
  cursor: pointer;
  /* Pointer cursor */
  display: flex;
  /* Flex layout */
  align-items: center;
  /* Center items */
}

body.dark .dropdown-selected {
  background-color: #1a202c;
  border: 1px solid rgb(170, 169, 169);
}

body.dark .dropdown-options {
  background-color: #1a202c;
  border: 1px solid rgb(170, 169, 169);
}


body.dark .dropdown-options div:hover {
  color: #1a202c;
}

.dropdown-options {
  display: none;
  /* Hide options by default */
  position: absolute;
  /* Position absolute */
  bottom: 100%;
  /* Position above the selected */
  left: 0;
  background-color: white;
  /* Background for options */
  border: 1px solid #ccc;
  /* Border for options */
  width: 100%;
  /* Full width */
  z-index: 100;
  /* Bring it above other elements */
}

.dropdown-options div {
  padding: 5px;
  /* Padding for each option */
  cursor: pointer;
  /* Pointer cursor */
}

.dropdown-options div:hover {
  background-color: #f0f0f0;
  /* Hover effect */
}

.arrow {
  margin-left: auto;
  /* Space between text and arrow */
}

#dropdown-options .langs {
  font-size: 14px;
}

#hamburger {
  display: none;
}


/*Media Queries*/

@media only screen and (max-width: 1000px) {
  .logonav {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 615px) {
  .logonav {
    height: 70%;
    width: 100%;
  }

  .nav-links {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: auto;
    margin-right: auto;
  }

}

@media only screen and (max-width: 570px) {
  .logonav {
    display: none;
  }

  .idk {
    display: flex;
    /* Use flexbox for centering */
    justify-content: left;
    /* Center items horizontally */
  }

  .nav-links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    padding: 0;
    margin: 0;
    justify-items: auto;
  }

  .nav-links li a {
    font-size: 16px;
    text-align: center;
    /* Center text in each link */
  }
}

@media only screen and (max-width: 500px) {
  .logonav {
    display: none;
  }

  .idk {
    display: flex;
    /* Use flexbox for centering */
    justify-content: left;
    /* Center items horizontally */
  }

  .nav-links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 0;
    margin: 0px 30px;
    justify-items: auto;
  }

  .nav-links li a {
    font-size: 16px;
    text-align: center;
    /* Center text in each link */
  }
}

@media only screen and (max-width: 440px) {
  .logonav {
    display: none;
    /* Hide logo */
  }

  .idk {
    display: flex;
    /* Use flex layout */
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items */
    width: 100%;
    /* Full width */
  }

  .hamburger {
    cursor: pointer;
    /* Pointer cursor for the hamburger icon */
    font-size: 30px;
    /* Adjust size as needed */
    width: 100%;
    /* Fill width */
    text-align: center;
    /* Center text */
    padding: 10px;
    display: block;
    /* Add padding */
  }

  .nav-links {
    display: none;
    /* Hide links by default */
    flex-direction: column;
    /* Stack links vertically */
    width: 100%;
    /* Full width */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
  }

  .nav-links.active {
    display: flex;
    /* Show links when active */
  }

  .nav-links li {
    width: 100%;
    /* Full width for each list item */
  }

  .nav-links li a {
    font-size: 16px;
    /* Font size */
    text-align: center;
    /* Center text */
    display: flex;
    /* Use flex for centering */
    align-items: center;
    /* Vertically center content */
    justify-content: center;
    /* Horizontally center content */
    padding: 10px;
    /* Add padding */
    width: 100%;
    /* Ensure link fills the list item */
    box-sizing: border-box;
    /* Include padding in width */
  }
}